---
import SearchBar from '@components/SearchBar';
import SiteNav from '@components/SiteNav.astro';
import Footer from '@components/Footer.astro';
import SideNav from '@components/SideNav';

const utilityMenu = [
  {
    order: 1,
    title: 'News',
    url: '/news',
  },
  {
    order: 2,
    title: 'Subscribe',
    url: '/subscribe',
  },
  {
    order: 3,
    title: 'About',
    url: '/about',
  },
  {
    order: 4,
    title: 'Contact Us',
    url: '/contact-us',
  },
];
---

<header
  class='absolute bg-transparent w-full top-0 left-0 z-40 overflow-hidden'
>
  <!-- Site Navigation -->
  <SiteNav />
</header>

<!-- Search Bar -->
<SearchBar client:load />

<!-- Main Content -->
<main class='relative h-auto w-full'>
  <slot />
</main>

<!-- Footer -->
<Footer />

<!-- SideNav and Back Drop -->
<SideNav client:only='react' />
