---
---
<div class="bg-gray-800 w-full h-auto">
  <div class="flex flex-col max-w-7xl mx-auto py-6">
    <div class="flex flex-row w-full justify-between items-center">
      <h1 class="flex text-4xl text-gray-400">Cookie Consent</h1>
      <button
        role="button"
        <!-- (click)="cookie.dismiss()" -->
        class="text-gray-400 bg-gray-600 hover:text-gray-800 hover:bg-white text-lg font-light rounded-full cursor-pointer px-2"
      >
        X
      </button>
    </div>

    <div class="flex">
      <span class="text-lg text-white font-light py-4">
        Cookies allow us to improve your experience on our site. By continuing
        to browse, you agree to the storing of cookies on your device. Please
        read our
        <a
          href="/about/cookie-policy"
          class="text-white text-base font-light cursor-pointer border-b border-white pb-1"
        >
          Cookie Policy
        </a>
        to learn more about the cookies we use and how we use them.
      </span>
    </div>

    <div class="flex flex-row justify-end">
      <button
        role="button"
        <!-- (click)="cookie.dismiss()" -->
        class="text-white bg-gray-600 hover:text-gray-800 hover:bg-white text-base font-light rounded-full cursor-pointer px-4 py-1"
      >
        Don't show again
      </button>
    </div>
  </div>
</div>
